* {
    /* "*" means all elems */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    /* refers to the html, but has higher specificity */
    font-size: calc(10/16*100%);
    /* 10 is what we want, 16 is the default, times 100 to round it to tens */
}

body {
    /* content u see on the page browser */
    font: 400 1.5rem/1.7 lato, sans-serif;
    color: $grey;
    padding: 3rem;
    box-sizing: border-box;
}