.btn {
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    border-radius: 999px;
    border-style: none;
    transition: all .3s; // same animation applied on hover in/out

    // Nesting btn modifier in a btn block
    // This is not rlly for/following the html structure cos there's no modifier html elem,
    // rather it's more of a organisation purpose
    // Can be applied for psuedo classes
    &--white {
        background-color: $white;
        color: $grey;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 .5rem 1rem rgba(#000,.2);
        
        cursor: pointer;
    }
}

.sec-btn {
    &:link, // havent been clicked
    &:visited { // clicked
        color: $lightgreen;
        font-size: $default-font-size;
        display: inline-block;
        padding: 3px 5px;
        text-decoration: none; // remove the underline
        border-bottom: 1px solid $lightgreen;
        transition: all .2s;
    }

    &:hover {
        background-color: $lightgreen;
        color: $white;
        box-shadow: 0 1rem 2rem rgba($grey, .25);
        transform: translateY(-2px);
    }

    &:active { // the bevahaviour when u click
        box-shadow: 0 .5rem 1rem rgba($grey, .25);
        transform: translateY(0px);
    }

    // following the LVHA order (link > visited > hover > active)

}

