.feature-card {
    // width: 100%;
    background: rgba($white, .75);
    border-radius: .3rem;
    padding: 4rem 0;
    box-shadow: 0 1rem 2rem rgba($white, .25);
    transition: all .1s ease;

    &:hover {
        transform: scale(1.1) translateY(-2rem);
    }

    &__icon::before {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, $lightgreen, $darkgreen);
        // somehoe background-image works, but not background
    }
}